streamlit
pymupdf
minio
sentence-transformers
langchain
transformers
torch
python-dotenv
tqdm
langchain-core
langchain-nvidia-ai-endpoints
langchain-community
faiss-cpu
ragas
datasets
numpy
pandas 
nest_asyncio
tqdm
blinker
sentencepiece
langfuse